<html>

    <head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css">
    </head>
    <title >ToDo lists

    </title>

    <body>
        <div class="container">
            <h1 class="title is-4">To-Do lists

            </h1>
            <input class="input" id="to_do_text" placeholder="Enter a to-do item">
            </input>
            <table id="todo_table" class="table is-bordered mt-3">
                <tr>
                    <th>todo lists</th>
                </tr>
                <tr>

                <tr>
                    <td>1: Buy peacock feathers"</td>
                </tr>
                <td>add</td>
                </tr>
            </table>
        </div>
    </body>

</html>